.App {
  text-align: center;
  margin: 1.5em;
  padding: 1.5em;
  border: 5px solid #282c34;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.add-products {
  broder-top: 1px solid #000000
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  padding: 1.5em;
  border: 10px solid #000000;
}

form input {
  display: flex;
  flex-direction: column;

  border-color: #61dafb;
  margin-bottom: 15px;

}

ul {
  text-align: left;
}